// Place all the styles related to the admins/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-item	{
	margin: 50px 0;
	text-align: center;
}

.top-title {
	margin: 100px 10px 0;
}