<div class="container">
	<div class="row">
		<div class="col text-center">
			<h2>プラン追加</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h4>プラン名</h4>
		</div>
		<div class="col-md-8 offset-1">
			
		</div>
	</div>
</div>