<div class="container">
	<div class="body">
		<div class="row">
			<div class="col text-center">
				<h1>レストラン情報</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<%= image_tag("restaurant1.JPG", :size => "300x350") %>
			</div>
			<div class="col-md-3 offset-1">
				<%= image_tag("restaurant3.jpg", :size => "300x350") %>
			</div>
			<div class="col-md-3 offset-1">
				<%= image_tag("restaurant2.jpg", :size => "300x350") %>
			</div>
		</div>
		<div class="border"></div>
		<div class="row">
			<div class="col text-center">
				<h2>基本情報</h2>
			</div>
		</div>
		<div class="box1">
			<div class="row">
				<div class="col-md-3 offset-2">
					<div class="time-infomation text-center">
						<h4>営業時間</h4>
					</div>
				</div>
				<div class="col-md-5">
					<div class="time">
						<h4>6:30〜10:00（土日祝7:00〜10:00）</h4>
					</div>
				</div>
				<div class="time-border"></div>
			</div>
			<div class="row">
				<div class="col-md-3 offset-2">
					<div class="place-information text-center">
						<h4>場所</h4>
					</div>
				</div>
				<div class="col-md-5">
					<div class="place">
						<h4>本館2階</h4>
					</div>
				</div>
			</div>
		　</div>
	</div>
</div>