<div class="container">
	<div class="body">
		<div class="row">
			<div class="col text-center">
				<h2 class="confirmation">キャンセルを承りました</h2>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<p><%= full_name(current_user) %>様のまたのご利用をお待ちしております</p>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<%= link_to "ホテルトップへ", root_path, class: "btn btn-success btn-enter mt-4" %>
			</div>
		</div>
	</div>
</div>