<div class="container">
	<div class="body">
		<div class="row">
			<div class="col text-center">
				<h2 class="confirmation">ご予約が完了しました</h2>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<p><%= full_name(current_user) %>様のご予約承りました<br>
				ご来館、心よりお待ちしております。</p>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<%= link_to "マイページへ", users_path, class: "btn btn-success mt-4" %>
				<%= link_to "ホテルトップへ", root_path, class: "btn btn-primary mt-4" %>
			</div>
		</div>
	</div>
</div>