

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h6>チェックイン</h6>
			<label class="control-label" for=""></label>
            <%= f.datetime_select :reservation_date, {}, class: 'form-control' %>
		</div>
	</div>
</div>