/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

header {
	margin-bottom: 71px;
	color: black;
}

nav {
	background-color: #4a4140;
}

.head {
	color:grey;
}

.guest {
	color: #fff;
}

.nav-link{
	color:gray;
}

.right {
	margin-right:90px;
}

.nav-color {
	color:#d04d4d;
}

.big {
	margin:8px 7px 8px 0;
}



