.border {
	border-bottom: 5px solid black;
	margin-top:30px;
	margin-bottom:30px;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.22);
}

.box1 p {
    margin: 0;
    padding: 0;
}

.time-border {
	border-bottom:1px solid #808080;
	width:600px;
	margin: 0 auto;

}

.time-infomation {
	margin:20px 0;
}

.time {
	margin:20px 0;
}

.place-information {
	margin-top:20px;
}

.place {
	margin-top:20px;
}

.access-title {
	margin:50px 0;
}

.map-border {
	border-bottom:1px solid #808080;
	width:600px;
	margin: 0 auto;
}

.traffic-guide {
	margin-top:30px;
}

.access-subtitle {
	margin:50px 89px 50px 0;
}

.restaurant-title {
	margin:50px 0;
}

.information {
	margin:50px 0;
}

.facility {
	margin-top:50px;
}
