// Place all the styles related to the users/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

.top-image {
	background-image: url("/images/robby.jpg");
	background-size: cover;
	height:100%;
	padding-top:81px;
}

.plan_title {
	margin-top:80px;
}

.room-title {
	margin:30px 0;
}

.border {
	border-bottom: 5px solid black;
	margin-top:30px;
	margin-bottom:30px;
}

.border-plan {
	border-bottom: 1px solid black;
	margin-top:30px;
	margin-bottom:30px;
}

.confirmation {
	margin:200px 0 50px 0 ;
}
