// Place all the styles related to the users/rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border {
	border-bottom: 5px solid black;
	margin-top:30px;
	margin-bottom:30px;
}

.reservation-date {
	margin:30px 0 30px 0;
}